mixin sForm(data)
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		+pic('form-bg.png','bg','')(class="picture-bg")
		.container
			+b.section-title.text-center
				h2!= data.h2

			.row
				+e.imgCol.col.d-none.d-lg-block.align-self-end 
					+e.imgWrap 
						+pic('manager.png')
				.col 
					+e.form 
						+e.formTitle!= data.formTitle 
							img.d-none.d-lg-inline(src="img/@2x/tap.png" alt="" loading='lazy')
						+e.textWrap
							+e.imgSm.d-lg-none 
								+pic('manager-sm.png','','')
							p!= data.text 
						+form-wrap('Записаться на встречу с сайта Евразия')
							+input('Введите ваш телефон','tel')
							+btn('Записаться на встречу','submit')
							+polite
	// end sForm

mixin sForm-02(data)
	// start sForm
	+b.SECTION.sForm--02.section#sForm&attributes(attributes)
		+pic('form-bg.png','bg','')(class="picture-bg")
		.container


			.row
				+e.imgCol.col.d-none.d-lg-block.align-self-end 
					+e.imgWrap 
						+pic('director.png')
				.col 
					+e.form--transporant 
						+b.section-title
							h2!= data.h2
						+e.textWrap
							+e.imgSm.d-lg-none 
								+pic('director-sm.png','','')
							each paragraph in data.paragraphs 
								p!= paragraph.text 
						+form-wrap('Обсудить сотрудничество с сайта Евразия')
							.row 
								+e.col.col-sm-6
									+input('Введите ваш телефон','tel')(class="withoutPicture bg-transparent")
								.col-sm
									+btn('Обсудить сотрудничество','submit')
	// end sForm

mixin sForm-sm(data)
	// start sForm
	+b.SECTION.sForm--sm.section#sForm&attributes(attributes)
		.container
			+b.section-title.text-center
				h2!= data.h2

			+e.form
				+form-wrap('Резюме с сайта Евразия')
					+add-file
					+input('Введите ваш телефон','tel','Введите телефон')(class="")
					+btn('Отравить резюме','submit')
					+polite
	// end sForm