mixin sContact(data)
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Задавайте свои вопросы прямо сейчас:

			+e.row.row
				mixin item(t,icon,link)
					.col-lg-4.col-6
						+e.item(href= link class=`--${icon}` target='_blank')
							+e.iconWrap
								+icon(icon)
							span= t
				+item('WhatsApp','whatsapp','https://wa.me/+79120811400')
				+item('Viber','viber','viber://chat?number=+79193320007')
				+item('Telegram','telegram','tg://resolve?domain=pskevrazia')
			.text-center
				h3 Или свяжитесь с нами по номеру
				+e.tel(href="tel:83519232020") 8 (3519) 23-20-20
	// end sContact


mixin sContact-inner(data)
	// start sContact
	+b.SECTION.sContact--inner.section#sContact&attributes(attributes)
		.container
			+b.section-title.text-center
				h1 Контакты
				h3 Звоните, пишите на email или в мессенджерах

			+e.wrap
				.text-center
					h3 По&nbsp;вопросам проектирования, строительства и&nbsp;ремонта
					+e.tel(href="tel:83519232020") 8 (3519) 23-20-20
					+e.mail(href="mailto:ea.mgn@mail.ru") ea.mgn@mail.ru
				+e.row.row
					mixin item(t,icon,link)
						.col-lg-4.col-6
							+e.item(href= link class=`--${icon}` target='_blank')
								+e.iconWrap
									+icon(icon)
								span= t
					+item('WhatsApp','whatsapp','https://wa.me/+79120811400')
					+item('Viber','viber','viber://chat?number=+79193320007')
					+item('Telegram','telegram','tg://resolve?domain=pskevrazia')


mixin sContact-materiali(data)
	// start sContact
	+b.SECTION.sContact--inner.section#sContact&attributes(attributes)
		.container
			+b.section-title.text-center
				h1!= data.h1
				h3!= data.h3

			+e.imgWrap.instImg(href= data.instagram target="_blank")
				+pic('instagram.jpg','ПСК Евразия','')
	// end sContact